.about-container {
    height: 100%;
    width: 100%;
}

.about-container section {
    margin-bottom: 35px;
}

.about-container section h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-container section p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 10px;
}