<div class="home-container">
    <section>
        <h2>
            Aplicación con Angular
        </h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem laboriosam dolores impedit iste possimus maiores incidunt dolore, sequi adipisci in perspiciatis voluptates quod voluptas nemo repudiandae eveniet! Illo eos sunt eveniet quod eius dicta enim nihil, architecto nisi consectetur, quo in sequi rem consequatur voluptate. Corrupti repudiandae blanditiis nemo aliquam, molestiae explicabo consequuntur autem rerum sunt esse. Minima harum labore ipsa distinctio! Nostrum rem possimus, eveniet ipsum repudiandae repellat nobis. Reiciendis blanditiis ipsum est odio dolorem ex reprehenderit nam alias praesentium aut nihil illum at, quidem provident laborum doloribus? Architecto quos officiis, quibusdam dolores quis ex. Pariatur quaerat deserunt eum.
        </p>
    </section>
    <section>
        <h2>
            Aplicación con Angular
        </h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem laboriosam dolores impedit iste possimus maiores incidunt dolore, sequi adipisci in perspiciatis voluptates quod voluptas nemo repudiandae eveniet! Illo eos sunt eveniet quod eius dicta enim nihil, architecto nisi consectetur, quo in sequi rem consequatur voluptate. Corrupti repudiandae blanditiis nemo aliquam, molestiae explicabo consequuntur autem rerum sunt esse. Minima harum labore ipsa distinctio! Nostrum rem possimus, eveniet ipsum repudiandae repellat nobis. Reiciendis blanditiis ipsum est odio dolorem ex reprehenderit nam alias praesentium aut nihil illum at, quidem provident laborum doloribus? Architecto quos officiis, quibusdam dolores quis ex. Pariatur quaerat deserunt eum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum obcaecati autem rerum hic modi expedita amet atque fugiat, quaerat, sunt beatae laboriosam alias qui ab mollitia magni sed architecto delectus quae quas. Maxime voluptas a autem suscipit ullam quaerat excepturi nobis nisi, repellat unde asperiores rerum veniam id, quidem quis!
        </p>
    </section>
</div>