<div class="container-contact">
    <div class="desc-contact">
        <h2>Contáctame</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, labore praesentium similique cupiditate minus recusandae voluptatum. Quis voluptatum repellat deserunt, eaque cupiditate, voluptates, enim suscipit quam ea rerum rem provident!
        </p>
    </div>
    <div class="form-contact">
        <div class="card">
            <form action="">
                <div class="input">
                    <label for="name">Nombre</label>
                    <input type="text" id="name">
                </div>
                <div class="input">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email">
                </div>
                <div class="input">
                    <label for="desc">Mensaje</label>
                    <textarea name="desc" id="desc"></textarea>
                    <button class="btn-contact">
                        Envíar comentario
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>